/* @import url(small.css) (min-width:0px);
@import url(large.css) (min-width:900px); */

:root {
  --main-bg-color: rgb(35, 35, 35);
  --main-text-color: #f9faffde;
  --shadow-color: #858ebc;
}

html {
  display: block;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  text-shadow: var(--shadow-color) -2px 2px 8px;
}

#container {
  margin-top: 20vh;
  font-size: 24px;
  width: 60ch;
}

a {
  color: #673ab7;
  display: block;
  margin: 12px 16px;
  text-shadow: #090a14 -2px 2px 8px;
}

a:hover {
  color: #ffeb3b;
}